<div class="row" ng-controller>
  <h2>Your Cart:</h2>
  <ul>
    <li class="animate-repeat" ng-repeat="item in cart | orderBy:'category'">
      <span>{{ item.qty + ' x ' + item.description + ' = ' + (getCost(item) | currency:'₹') }}</span>
      <button class="btn-danger btn-xs" ng-click="removeItem(item);">Remove Item</button>
      </br>
      </br>
    </li>
  </ul>
  <h3>Total: {{ getTotal() | currency:'₹' }}</h3>
  <button class="btn-danger" ng-click="clearCart();">Clear Cart</button>
</div>
